/* html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */






h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
  }

article {
  margin: 8rem 0;
}

.counter-box {
  background-color: blue;
  height: 18.75rem;
  margin: 0 auto;
  transform: translateY(-20%);
  width: 50%;
  z-index: 1;
}

#hero {
  min-height: 800px;
}

#hero-title {
  padding: 320px 0 40px 0;
}

#need {
  margin: 5rem 0 8rem 0;
}

.navbar-collapse {
  background-color: white;
}

.my-nav-link {
  color: black;
}

p {
  font-size: 20px;
}

section {
  margin: 8rem 0;
}


#top-nav {
  align-items: center;
  height: 3.5rem;
}
